name: Secrets workflow

on:
  pull_request:
    branches: [ "main" ]

jobs:
  secrets:
    name: Secrets demo
    runs-on: ubuntu-latest
    env:
      JOB_NAME: "secrets"

    steps:
      - name: echo environment variable
        run: echo "The value of the api key is ${{ secrets.SECRET_API_KEY }}"
